.css-h4y409-MuiList-root .link-active path {
  fill: #000;
}

.css-h4y409-MuiList-root .navLink {
  width: 100%;
}

.css-h4y409-MuiList-root .link-active {
  background: rgba(196, 196, 196, 0.14);
  border-radius: 5px;
}

.css-h4y409-MuiList-root .link-active .MuiListItemText-primary {
  font-weight: bold !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: transparent !important;
}
