
.loginPageFirst{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 18%;
    background-image: url(../../../assets/images/blurBackground.png);
    
}

.loginPageFirst img{
    width: 250px;
}